<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDC7pg7-ro2GxxZbHGeM8okmMs1FXk0yTw</string>
	<key>GCM_SENDER_ID</key>
	<string>555574648393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.streamerz.PBLive</string>
	<key>PROJECT_ID</key>
	<string>pb-live-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>pb-live-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555574648393:ios:5f79452254d789cc46e998</string>
</dict>
</plist>